.login-container,
.register-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-sub-container,
.register-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-sub-container > div,
.register-sub-container > div {
  margin: 8.5px 0px;
}
.login-heading,
.register-heading {
  font-size: 32px;
  font-weight: 700;
  color: grey;
  margin-bottom: 20px !important;
}
.login-input,
.register-input {
  display: flex;
  width: 23vw;
  position: relative;
}
.login-input input,
.register-input input {
  width: inherit;
  padding: 10px;
  border: 1px solid grey;
  color: grey;
  outline: none;
  border-radius: 5px;
}
.login-input-icon,
.register-input-icon {
  position: absolute;
  align-self: center;
  right: 10px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
.login-forgot-text,
.register-forgot-text {
  align-self: flex-start;
  margin-top: -8px !important;
  color: grey;
  cursor: pointer;
  font-size: 13px;
}

.login-button,
.register-button {
  margin-top: 15px !important;
  width: 23vw;
  height: 40px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.2s linear;
}

.login-button:hover,
.register-button:hover {
  background-color: rgb(153, 149, 149);
}
.login-register-text {
  color: grey;
  font-size: 15px;
  cursor: pointer;
}
